header {
    background-color: darkblue;
    color: blanchedalmond;
    text-align: center;
    justify-content: center;
}

.input-group {
    width: 400px;
    height: 50px;
}

.list-group {
    float: right;
    height: 800px;
    width: 1000px;
    padding: 5px;
    margin: 5px;
}